.container{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.h2{
    color: var(--dark-teal);
    font-size: 50px;
}

#arrow{
    width: 90px;
    transition: 0.3s ease-in;
}

#arrow:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.skillsContainer{
    display: flex;
    flex-wrap: wrap;
}

.skillItem{
    width: fit-content;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    color: var(--dark-purple);
    font-size: 35px;
    border: 2px solid var(--dark-purple);
    border-radius: 20px;
}

.projectsContainer{
    display: flex;
    flex-direction: column;
}

.projectItem{
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    color: var(--dark-purple);
    font-size: 35px;
    border: 2px solid var(--dark-purple);
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.projectItem p{
    font-size: 30px;
}