.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(114, 12, 97, 0.6);
    text-align: center;
    padding: 10px;

    p{
        color: var(--light-purple);
        font-size: 18px;
    }

    a{
        color: var(--light-purple);
        text-decoration: underline;
    }
}